*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
    color: #332c31;
   
}
/* #2f2fa2 #99738e #f64c72 #553d67 #242582 */
html {
    font-size: 62.5%;
     color: #242582 #553d67 #2f2fa2 #99738e #f64c72;
  }
.wow{
    border:2px solid  #553d67;
}
div{
  /* border: solid black 2px; */
}

.playstore, .download, .jee, .box{
  background-color: #f64c72;
}

  
  .nav {
    height: 60px;
    width: 100%;
    background-color: #242582;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }

  .box1{
      border: 1px solid  #553d67;
      /* height: 30px; */
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    margin-top: 3px;
    color: rgb(239, 239, 239);
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color:#242582;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #242582;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      z-index: 1;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
      z-index: 1;
    }
  }

  img{
    width: 100%;
    height: 100%;
  }



input:focus{
    outline: none;
}
.contain{
    padding: 10px;
}
.header{
    display: flex;
    height: auto;
    padding: 0 5rem;
    margin-top: 5rem;
}
.header h1{
    font-size: 5rem;
    margin: 7rem 0;
    padding-left: 0 !important;
}
.header p{
    font-size: 2rem;
    margin: 3rem 0;
}
/* student */
.student{
  flex-basis: 50%;
}
.student input{
    width: 100%;
    border: none;
    font-size: 2rem;
}
.student p{
  margin: 6rem 0;
}
.playstore{
    width: 70%;
    border-radius: 50px;
    height: auto;
    text-align: center;
    padding: 2rem;
    font-size: 2.5rem;
}
.wow{
    display: flex;
    height: 4rem;
    margin: 7rem 0;
}
.wow i{
    padding: 7px 5px;
    font-size: 2rem
}
.press{
    width: 80%;
}

/* image */
.twinnee{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
}
.twin{
    width: 100%;
    display: flex;
    justify-content: center;
}
.display{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.image{
    margin: 0 auto;
    flex-basis: 50%;
}

.img{
    width: 5rem;
    height: 5rem;
    margin-top: 15px;
}
.img i{
    font-size: 4rem;
    padding-top: 1rem;
}



/* next */
.next{
  margin-top: 3rem;
}
.group{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.box{
  width: 25rem;
  height: auto;
  margin-top: 2rem;
  text-align: center;
  box-shadow: 0px 0px 4px 2px rgba( 0, 0, 0, 0.2 );
}
.box h2{
  font-size: 3rem;
}
.box p{
  font-size: 3rem;
    padding-top: 20px;
}
.book{
  width: 70%;
    font-size: 2rem;
    margin: 20px auto;
    border-radius: 50px;
    padding: 5px;
    margin-top: 5rem;
    border: 2px solid #99738e ;
}





/* materials */

.boards{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35rem;
  margin-top: 2rem;
  text-align: center;
  background-color:  #2f2fa2;
}
.pics{
  height: 5rem;
  width: 5rem;
}
.padesh{
  padding-left: 1.5rem;
    font-size: 1.5rem;
}
.luck{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.neet{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.material i{
  font-size: 3.5rem;
  padding: 3px 2px;
}
.jee{
  padding: 3rem 0;
  margin: 3rem 0;
  font-size: 3rem;
  width: 35rem;
  text-align: center;
}

/* subjects */
.subjects .boards{
  font-size: 3rem;
  padding: 3rem 0;
}


.solution .boards{
  padding: 2rem 0;
  font-size: 3rem;
}





/* testimonial */
.onee{
  width: 15rem;
  height: 15rem;
  
}
.test{
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.text{
  margin-top: 2rem;
}
.text p{
  padding-top: 2rem;
  text-align: center;
}

.download{
  width: fit-content;
  padding: 1rem 5rem;
  font-size: 2rem;
  margin: 5rem auto;
  text-align: center;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2)
}
span{
  padding-left: 2rem;
}

h1{
  font-size: 3rem;
  padding-left: 2rem;
  margin: 3rem 0 1.5rem 0 ;
}



@media screen and (max-width: 1100px) {
  .boards{
    width: 25rem;
  }
}
@media screen and (max-width: 1040px) {
  .header h1 {
    font-size: 4rem;
  }
  
  .press{
      width: 95%;
  }
}

@media screen and (max-width: 1100px) {
    .playstore {
      /* font-size: 2rem;
      padding-top: 7px; */
      width: 90%;
  }
}

@media screen and (max-width: 740px) {
  .nav > .nav-links > a {
      padding: 10px 10px;
  }
  .jee{
    font-size: 2rem;
    width: 25rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 900px) {
.header{
  display: block;
}
.image{
  margin-top: 4rem;
}
.display{
  width: 70%;
}
.box{
  width: 18rem;
  font-size: 2rem !important;
}
.boards,.jee {
  width: 18rem;
}
.subjects .boards, .solution .boards {
  font-size: 2rem;
  padding: 1rem 0;
}

}
@media screen and (max-width: 400px) {
.twinnee{
  display: block;
}
.display{
  width: 100%;
}

}
@media screen and (max-width: 500px) {
  html{
    font-size: 50%;
  }
  .box1{
    border: none;
  }
  .check{
    margin-top: 10px !important;
  }
.header{
  padding: 0;
}
.boards{
  font-size: 2rem !important;
}
.press {
  width: 100%;
  text-align: center;
}
.playstore{
  width: fit-content;
  /* padding: 5px; */
  margin: auto;
}
}

@media screen and (max-width: 550px) {
  h1{
    text-align: center;
  }
  
  }
  @media screen and (max-width: 250px) {
    body{
      text-align: center;
    }
    .box,.playstore{
      height: auto;
    }
    .download{
      width: 100%;
    }
    
    }

.playstore, .download, .book{
  cursor: pointer;
}

